<div class="container" ng-init="init()">
	<button class="btn btn-primary pull-right" ng-click="createCheckpoint()">Create Checkpoint</button>
	<h1>{{project.name}}</h1>
	<pre><b>ID</b> {{project.id}}</pre>
	<hr>
	<!-- <p>
		Now that you have created a project, you need to initialize it in the SDK to start tracking Check Points.
		In the iOS SDK, add the following line of code to your project:
	</p>
	<pre>[[NPSCheckpoints SDK] initWithUsername:@"test@example.com" andPassword:@"test" andProjectId:@"{{project.id}}"];</pre> -->
	<div class="row">
		<div class="col-md-6">
			<h2>Checkpoints</h2>
		</div>
		<div class="col-md-6">
			<button class="btn btn-default pull-right" ng-click="toggleShowCheckPoints()">
				<i class="fa" ng-class="{'fa-eye-slash': showCheckPoints, 'fa-eye': !showCheckPoints}"></i> 
				<span ng-if="showCheckPoints">Hide</span>
				<span ng-if="!showCheckPoints">Show</span>
			</button>
		</div>
	</div>
	
	<table class="table table-striped" ng-show="showCheckPoints">
		<tr>
			<th>ID</th>
			<th>Checkpoint</th>
			<th>Created</th>
			<th style="width:100px;"></th>
		</tr>
		<tr ng-repeat="checkpoint in project.checkPoints | orderBy:'id'">
			<td>{{checkpoint.id}}</td>
			<td>{{checkpoint.name}}</td>
			<td>{{checkpoint.created | date:'short'}}</td>
			<td>
				<button class="btn btn-danger" ng-click="deleteCheckpoint(checkpoint)"><i class="glyphicon glyphicon-trash"></i></button>
			</td>
		</tr>
		<tr ng-if="!project.checkPoints.length">
			<td colspan="10">No checkpoints found. Define a new Checkpoint by clicking 'Create Checkpoint' in the upper right corner.</td>
		</tr>
	</table>
	<div class="row">
		<div class="col-md-6">
			<h2>Sessions</h2>
		</div>
		<div class="col-md-6">
			<div class="btn-group pull-right" role="group" aria-label="...">
		 		<button type="button" class="btn btn-default" ng-click="toggleShowLastOnly()">
		 			<i class="fa fa-check" ng-if="showLastOnly"></i>
		 			Show Last Checkpoint only
		 		</button>
			</div>
		</div>
	</div>
	<table class="table table-default" ng-class="{disabled: !project.sessions.length}">
		<tr>
			<th>Session Identifier</th>
			<th>Checkpoint</th>
			<th>Created</th>
			<th style="width: 100px;"></th>
		</tr>
		<tbody ng-repeat="session in project.sessions | orderBy:'-id'">
			<tr>
				<td>{{session.identifier}}</td>
				<td style="color: grey;">{{session.sessionCheckPoints.length}} checkpoint(s)</td>
				<td>{{session.created | date:'medium'}}</td>
				<td>
					<button class="btn btn-default" ng-click="toggleShowAll(session)" ng-disabled="session.sessionCheckPoints.length <= 1"><i class="fa" ng-class="{'fa-compress': session.showAll, 'fa-expand': !session.showAll}"></i></button>
					<button class="btn btn-danger" ng-click="deleteSession(session)"><i class="glyphicon glyphicon-trash"></i></button>
				</td>
			</tr>
			<tr ng-repeat="sessionCheckPoint in session.sessionCheckPoints | orderBy:'millis'" ng-show="showLastOnly ? $index === session.sessionCheckPoints.length - 1 || sessionsShowingAll[session.id] : true">
				<td></td>
				<td style="font-style: italic;">{{sessionCheckPoint.checkPoint.name}}</td>
				<td>{{sessionCheckPoint.created | date:'HH:mm:ss'}}</td>
				<td></td>
			</tr>
		</td>
		<tbody ng-if="!project.sessions.length">
			<tr>
				<td colspan="10">No Sessions found. Sessions are automatically created when your app is set up correctly and the SDK is initialized.</td>
			</tr>
		</tbody>
	</table>
</div>