<nav class="navbar navbar-static-top navbar-inverse" ng-controller="NavbarCtrl">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a class="" href="#/"><span class="glyphicon glyphicon-ok"></span> Checkpoints</a></li>
        <li ng-if="isAuthenticated"><a ng-href="#/projects">Projects</a></li>
      </ul>

      <ul ng-if="!isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a ng-href="#/sign-up">Sign Up</a></li>
        <li><a ng-href="#/sign-in">Sign in</a></li>
      </ul>
      <ul ng-if="isAuthenticated" class="nav navbar-nav navbar-right">
        <li><a ng-href="#">{{user.email}}</a></li>
        <li><a ng-href="#" ng-click="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
